/* prettier-ignore */
:root {
  --space-1:  0.25rem; /* 4px */
  --space-2:  0.5rem;  /* 8px */
  --space-3:  0.75rem; /* 12px */
  --space-4:  1rem;    /* 16px */
  --space-5:  1.25rem; /* 20px */
  --space-6:  1.5rem;  /* 24px */
  --space-8:  2rem;    /* 32px */
  --space-16: 4rem;    /* 64px */

  --border-radius-control: 8px;
  --border-radius-card: 12px;
  --border-radius-round: 9999px;

  --color-page: #f7f7f5;
  --color-surface: #fff;

  --color-text-primary: #292929;
  --color-text-secondary: #70706b;

  --color-border-default: #deded9;

  --color-success-background: #edf5ef;
  --color-success-border: #b9cfbe;
  --color-success-foreground: #467252;

  --color-warning-background: #faf3e5;
  --color-warning-border: #e1c796;
  --color-warning-foreground: #956d24;

  --color-error-background: #f7ecea;
  --color-error-border: #ddb8b3;
  --color-error-foreground: #98443c;

  color-scheme: light;
}

:root[data-theme='dark'] {
  --color-page: #181818;
  --color-surface: #222;

  --color-text-primary: #e8e8e5;
  --color-text-secondary: #a3a39c;

  --color-border-default: #40403c;

  --color-success-background: #1f2a22;
  --color-success-border: #3d5a43;
  --color-success-foreground: #8fc59b;

  --color-warning-background: #302817;
  --color-warning-border: #705929;
  --color-warning-foreground: #e7c36d;

  --color-error-background: #2d211f;
  --color-error-border: #66413d;
  --color-error-foreground: #e08d84;

  color-scheme: dark;
}
/* prettier-ignore-end */
